:root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
}

main {
  flex-grow: 1;
  flex-shrink: 0
}

.bm-overlay {
  background: #433f3c !important;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  height: 70vh !important;
  width: 60vw !important;
  overflow: hidden !important;
}

.bm-menu {
  right: 0 !important;
  overflow: hidden !important;
}

.bm-menu-wrap {
  position: relative;
  width: 40vw !important;
  height: 60vh !important;
  margin: 1.5rem 0;
  border: none;
  overflow: hidden;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #433f3c;
}

.bm-burger-bars-hover {
  background: transparent;
}

.bm-cross {
  background: #ded9d1 !important;
}

.bm-cross-button {
  right: 20px !important;
  top: 0px !important;
}

.bm-item-list {
  width: 50%;
  padding: 1rem;
  margin-left: 10px;
  overflow: hidden;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #ded9d1 !important;
  inline-size: auto;
  font-size: 1.1rem;
  margin-bottom: 25px;
}