:root {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Inconsolata", sans-serif;
}

main {
  flex-grow: 1;
  flex-shrink: 0
}

.bm-item:active { 
  background-color: #ded9d1;
  color: #433f3c;
}

.no-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0.1rem 0.7rem;
  margin-right: 0.5rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  height: 25px;
  margin-top: .5rem;
  background-color: #433f3c;
  color: #ded9d1;
  transition: all 200ms ease-in-out;
}

.filter-toggled {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0.1rem 0.7rem;
  margin-right: 0.5rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  height: 25px;
  margin-top: .5rem;
  background-color: #fff;
  color: #252222;
  transition: all 200ms ease-in-out;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 12px 12px;
  cursor: pointer;
  background: #433f3c;
  border-radius: 8px 8px 0 0;
  color: #ded9d1;
}

.react-tabs__tab--selected {
  background: #ded9d1;
  color: #433f3c;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  border-color: hsl(26, 6%, 25%);
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: flex;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

*:focus {
  outline-color: #ded9d1 !important;
}

*:active {
  outline-color: #ded9d1 !important;
}