@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 36 12.2% 92%;
      --foreground: 34 60% 19.6%;
   
      --muted: 210 40% 96.1%;
      --muted-foreground: 34 23% 42%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 34 60% 19.6%;
   
      --border: 35 14% 77%;
      --input: 36 12.2% 92%;
   
      --card: 0 0% 98%;
      --card-foreground: var(--foreground);
   
      --primary: 34 60% 19.6%;
      --primary-foreground: 210 40% 98%;
   
      --secondary: 34 23% 42%;
      --secondary-foreground: var(--primary-foreground);
   
      --accent: 34 26% 70%;
      --accent-foreground: 222.2 47.4% 11.2%;
   
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 34 26% 70%;
   
      --radius: 0.5rem;
    }
  }
   
  @layer base {
    body {
      min-height: 100vh;
      @apply bg-background text-foreground;
      font-feature-settings: "rlig" 1, "calt" 1;
    }
  }
