:root {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Inconsolata", sans-serif;
}

main {
  flex-grow: 1;
  flex-shrink: 0
}

.bm-item:active { 
  background-color: #ded9d1;
  color: #433f3c;
}

.no-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0.1rem 0.7rem;
  margin-right: 0.5rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  height: 25px;
  margin-top: .5rem;
  background-color: #433f3c;
  color: #ded9d1;
  transition: all 200ms ease-in-out;
}

.filter-toggled {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0.1rem 0.7rem;
  margin-right: 0.5rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  height: 25px;
  margin-top: .5rem;
  background-color: #fff;
  color: #252222;
  transition: all 200ms ease-in-out;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 12px 12px;
  cursor: pointer;
  background: #433f3c;
  border-radius: 8px 8px 0 0;
  color: #ded9d1;
}

.react-tabs__tab--selected {
  background: #ded9d1;
  color: #433f3c;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  border-color: hsl(26, 6%, 25%);
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: flex;
}

button,
select,
span,
svg,
a {
  -webkit-tap-highlight-color: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}

*:focus {
  outline-color: #ded9d1 !important;
}

*:active {
  outline-color: #ded9d1 !important;
}

#cf-context { 
  width: 500px; 
  height: 500px;
}

#form {
  height: 0px;
  overflow: hidden;
}

#conversational-form {
  font-family: Inconsolata, sans-serif;
  min-height: 60vh;
  max-height: 70vh;
  width: 87vw;
  background: none;
  border: 1px solid #ded9d1;
  border-radius: 30px;
  margin-top: 7rem;
}

#conversational-form::before {
  background: none;
}

#cf-input-control-elements {
  background-color: none;
}

.conversational-form-inner {
  width: fit-content;
}

cf-input-control-elements {
  background-color: none !important;
  height: fit-content;
  width: 100% !important;
  overflow-y: scroll;
}

.cf-button {
  border: none !important;
}

.inputWrapper {
  display: flex;
  align-items: flex-end;
}

.inputWrapper input, textarea {
  font-family: Inconsolata, sans-serif;
  border-radius: 50px !important;
  color: none;
  margin: 2px 0;
  max-width: calc(100% - 70px)
}

.inputWrapper input:focus {
  box-shadow: none;
}
cf-list {
  display: flex !important;
  flex-flow: row wrap !important;
  overflow-y: scroll !important;
  width: 100% !important;
  width: 100%;
  padding-top: 10px;
  height: fit-content !important;
}

cf-button, cf-checkbox-button, cf-radio-button {
  width: fit-content !important;
  height: fit-content !important;
}

cf-button, cf-checkbox-button, cf-radio-button>div {
  display: inline-flex;
}

cf-input {
  background: none !important;
}

cf-input-button.cf-input-button {
  border-radius: 50% !important;
  width: 60px !important;
  height: 60px !important;
  margin: 5px 0;
}

cf-chat-response.robot thumb {
  background-image: url('https://i.ibb.co/k0fBkxM/USER-BEAN.png') !important;
}

cf-chat-response.user thumb {
  background-image: url('https://i.ibb.co/7r7kLvx/MR-BEAN.png') !important;
}

cf-chat-response text>p {
 background: #433f3c !important; 
 color: #ded9d1 !important;
}

cf-chat-response.user text>p {
  color: #433f3c !important; 
  background: #ded9d1 !important;
 }

cf-list-button.cf-gradient:before {
  display: none;
}

cf-list-button.cf-gradient:after {
  display: none;
}